@using ViewModels
@model UserListView
@{
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

@section ContentScript{

}

@section ContentClass{

}

@section ContentBody{
  <div class="row">
    <div class="col-xs-2" id="myScrollspy" style="margin-left:-30px">
        <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="10">
            <li><a href="/Home/Index">首页</a></li>
            @foreach (GoodsTypeView gtv in Model.GoodsTypeView)
            {
                <li><a href="@Url.Action("Index", "Home", new{TypeID=gtv.TypeID})">@gtv.TypeName</a></li>
            }
        </ul>
    </div>
 
@foreach (var Data in Model.GoodsView.GetPagingData())
{
    <div class="col-xs-6  col-md-4">
        <div class="thumbnail">
            <img class="img-rounded" style="height:100px; width:100px" src="@Data.GoodsPicture" />
            <div class="caption">
                <h3>商品名称:@Data.GoodsName</h3>
                <p>单价:@Data.Price</p>
                <p><a href="@Url.Action("Show", "Home", new {GoodsID=Data.GoodsID})" class="btn btn-primary" role="button">点击查看详情</a></p>
            </div>
        </div>
    </div>
}
</div>
 
<nav>
    <ul class="pager">
    @if (Model.GoodsView.HasPrev)
    {
       <li> <a href="@Url.Action("Index", "Home", new { pageIndex = Model.GoodsView.PageIndex - 1, TypeID = Model.GoodView[0].TypeID })">上一页</a></li>
    }
    else
    {
        <li> <a style="color:Gray">上一页</a></li>
    }
    @if (Model.GoodsView.HasNext)
    {
        <li><a href="@Url.Action("Index", "Home", new { pageIndex = Model.GoodsView.PageIndex + 1, TypeID = Model.GoodView[0].TypeID })">下一页</a></li>
    }
    else
    {
        <li><a style="color:Gray">下一页</a></li>
    }
    </ul>
</nav>
}
