@using ViewModels
@model UserListView
@{
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

@section ContentScript{

}

@section ContentClass{

}

@section ContentBody{
  <div class="row">
    <div class="col-xs-3" id="myScrollspy">
        <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="10">
            <li><a href="/Home/Index">首页</a></li>
            @foreach (GoodsTypeView gtv in Model.GoodsTypeView)
            {
                <li><a href="@Url.Action("Index", "Home", new{TypeID=gtv.TypeID})">@gtv.TypeName</a></li>
            }
        </ul>
    </div>
      <div class="col-xs-9">
          @foreach (var Data in Model.GoodsView.GetPagingData())
          {
              <div class="form-group">
                  <p> 商品名称:@Data.GoodsName</p>
                 <a href="@Url.Action("Show", "Home", new {GoodsID=Data.GoodsID})"><img style="width:300px;height:300px" class="img-rounded" src="@Data.GoodsPicture" /></a>
                 <p>单价:@Data.Price</p>
              </div>
          }
      </div>

</div>
 
<p>
    @if (Model.GoodsView.HasPrev)
    {
        <a href="@Url.Action("Index", "Home", new { pageIndex = Model.GoodsView.PageIndex - 1, TypeID = Model.GoodView[0].TypeID })">上一页</a>
    }
    else
    {
        <em style="color:Gray">上一页</em>
    }
    @if (Model.GoodsView.HasNext)
    {
        <a href="@Url.Action("Index", "Home", new { pageIndex = Model.GoodsView.PageIndex + 1, TypeID = Model.GoodView[0].TypeID })">下一页</a>
    }
    else
    {
        <em style="color:Gray">下一页</em>
    }
</p>
}
