@using ViewModels
@model AdminListView

@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

@section ContentBody{
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar user panel (optional) -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="~/Public/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Admin</p>
                    <!-- Status -->
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>

            <!-- search form (Optional) -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                <li class="header">HEADER</li>
                <!-- Optionally, you can add icons to the links -->
                <li class="treeview">
                    <a href="#"><i class="fa fa-link "></i> <span>用户管理</span><i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a><i class="fa fa-circle-o"></i>用户信息查看</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i>用户密码修改</a></li>
                    </ul>
                </li>
                <li class="active treeview">
                    <a href="#"><i class="fa fa-link"></i> <span>商品管理</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i>新商品入库</a></li>
                        <li class="active"><a href="#"><i class="fa fa-circle-o"></i>修改商品信息</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i>查询商品信息</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i>删除旧商品</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-link"></i> <span>订单管理</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i>已审核订单</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i>未审核订单</a></li>
                        <li><a href="#"><i class="fa fa-circle-o"></i>查询用户订单详情</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-link"></i> <span>评论管理</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i>删除评论</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-link"></i> <span>商城公告</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i>发布新公告</a></li>
                    </ul>
                </li>
            </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                商品管理
                <small>商品价格修改</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>管理界面</a></li>
                <li class="active">商品管理</li>
                <li class="active">商品信息更新</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">新商品入库</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <form action="@Url.Action("Update_Goods", "Admin")" method="get">
                                    <div class="col-sm-6">
                                        <div id="example1_filter" class="dataTables_filter">
                                            <label>根据商品名查询:<input id="searchtxt" name="GoodsName" type="search" class="form-control input-sm" placeholder="" aria-controls="example1"></label><input id="search" type="submit" class="btn btn-block btn-info" style="width:70px;" value="查询">
                                        </div>
                                    </div>
                                </form>
                            </div>
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>手机编号</th>
                                            <th>手机型号</th>
                                            <th>手机价格</th>
                                            <th>提交</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var Data in Model.GoodsView.GetPagingData())
                                        { 
                                            <tr role="row" class="odd">
                                                <td>@Data.GoodsID</td>
                                                <td>@Data.GoodsName</td>
                                                <td><input id="@Data.GoodsID" class="form-control" type="text" value="@Data.Price" /></td>
                                                <td><button name="@Data.GoodsID" type="submit" class="btn btn-block btn-primary" onclick="Update_Goods(this)">修改</button></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                                        总共查到 @Model.GoodsView.DataSource.Count() 条数据
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                    </div>
                                    <ul class="pagination">

                                        @if (Model.GoodsView.HasPrev)
                                        {
                                            <li class="paginate_button previous"><a href="@Url.Action("Update_Goods", "Admin", new { GoodsName = (string)Model.GoodsName, pageIndex = 1 })"><<</a></li>
                                            <li class="paginate_button previous"><a href="@Url.Action("Update_Goods", "Admin", new { GoodsName = (string)Model.GoodsName, pageIndex = Model.GoodsView.PageIndex - 1 })"><</a></li>

                                        }
                                        else
                                        {
                                            <li class="paginate_button previous disabled"><a><<</a></li>
                                            <li class="paginate_button previous disabled"><a><</a></li>
                                        }
                                        @for (int i = Model.GoodsView.PageIndex; i <= Model.GoodsView.PageCount + 2; i++)
                                        {
                                            if (i >= 3 && i <= Model.GoodsView.PageCount + 2 && i < Model.GoodsView.PageIndex + 6)
                                            {
                                                if (i == Model.GoodsView.PageIndex + 2)
                                                {
                                                    <li class="paginate_button previous active"><a href="@Url.Action("Update_Goods", "Admin", new { GoodsName = (string)Model.GoodsName, pageIndex = (i - 2) })">@(i - 2)</a></li>
                                                }
                                                else
                                                {
                                                    <li class="paginate_button previous"><a href="@Url.Action("Update_Goods", "Admin", new { GoodsName = (string)Model.GoodsName, pageIndex = (i - 2) })">@(i - 2)</a></li>
                                                }
                                            }
                                            else if (i == Model.GoodsView.PageIndex + 6)
                                            {
                                                <li class="paginate_button previous disabled"><a>...</a></li>
                                            }

                                        }
                                        @if (Model.GoodsView.HasNext)
                                        {

                                            <li class="paginate_button previous"><a href="@Url.Action("Update_Goods", "Admin", new { GoodsName = (string)Model.GoodsName, pageIndex = Model.GoodsView.PageIndex + 1 })">></a></li>
                                            <li class="paginate_button previous"><a href="@Url.Action("Update_Goods", "Admin", new { GoodsName = (string)Model.GoodsName, pageIndex = Model.GoodsView.PageCount })">>></a></li>
                                        }
                                        else
                                        {
                                            <li class="paginate_button previous disabled"><a>></a></li>
                                            <li class="paginate_button previous disabled"><a>>></a></li>
                                        }
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
}

@section ContentScript{
    <script src="~/Public/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Public/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Public/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Public/plugins/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Public/dist/js/demo.js"></script>

    <script>
    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging": false,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "info": false,
            "autoWidth": false
        });
    });
    function Update_Goods(obj) {
        var Price = $('#' + obj.name).val()
        var GoodsID = obj.name
        var data = { "Price": Price, "GoodsID": GoodsID }

        if (Price != "") {
            $.ajax({
                url: "/Admin/Update_Goods",
                type: "POST",
                data: data,
                success: function (data) {
                    data = JSON.stringify(data)
                    if (data == "true") {
                        alert("修改成功")
                        location.reload();
                    } else {
                        alert("修改失败")
                    }
                },
                error: function () {

                }
            })
        } else {
            alert("输入不能为空");
        }
    }
    </script>
}