

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理界面</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    @Styles.Render("~/bundles/bootcss")
    @Styles.Render("~/bundles/font-awesome")
    @Styles.Render("~/bundles/ionicons")
    @Styles.Render("~/bundles/AdminLTE")
    @Styles.Render("~/bundles/skin-blue")


   
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("Admin_Head")
        @RenderSection("ContentBody")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootjs")
    @Scripts.Render("~/bundles/appjs")
    @Scripts.Render("~/bundles/jquery/dataTables")
    @Scripts.Render("~/bundles/dataTables/bootstrap")
    @Scripts.Render("~/bundles/jquery/slimscroll")
    @Scripts.Render("~/bundles/js/fastclick")
    @Scripts.Render("~/Public/dist/js/demo.js")
    @RenderSection("ContentScript")

    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. Slimscroll is required when using the
         fixed layout. -->

</body>
</html>
