@using BusinessEntities
@model T_Users
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootjs")
    @Styles.Render("~/bundles/bootcss")
    <style type="text/css">
        .panel-body {
            padding: 30px 50px 0 50px;
        }

        .form-group {
            margin-bottom: 35px;
        }

        .panel-title {
            font-size: 24px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container web-body" >
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading" style="height: 50px;">
                        <div class="panel-title" style="text-align: left">用户注册</div>
                    </div>
                    <div class="panel-body">
                        @Html.ValidationMessage("RegisterError", new { @class = "alert-danger" })
                        @using (Html.BeginForm("Insert", "User", FormMethod.Post, new { @class = "form-horizontal" }))
                        { 
                          <div class="form-group">
                                <label>用户名（字母开头长度6-12）</label>
                              @Html.TextBoxFor(x => x.Uname, new { @class = "form-control", @placeholder = "用户名", @required = true })
                              @Html.ValidationMessageFor(x => x.Uname, null, new { @class = "alert-danger" })
                                @*<input id="Uname" type="text" class="form-control" name="Uname" placeholder="用户名" required />*@
                            </div>
                            <div class="form-group">
                                <label>密码（长度为6-12）</label>
                                @Html.TextBoxFor(x => x.Upwd, new { @class = "form-control", @placeholder = "密码", @required = true , @type = "password"})
                                @Html.ValidationMessageFor(x => x.Upwd, null, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                <label>性别 </label>
                                @Html.RadioButtonFor(x=>x.Sex, "男", new { @class = "iradio_minimal", @checked = true})
                                男
                                @Html.RadioButtonFor(x => x.Sex, "女", new { @class = "iradio_minimal" })
                                女
                                @Html.RadioButtonFor(x => x.Sex, "秀吉", new { @class = "iradio_minimal" })
                                秀吉  
                            </div>
                            <div class="form-group">
                                <label>真实姓名</label>
                                @Html.TextBoxFor(x => x.RealName, new { @class = "form-control", @placeholder = "真实姓名", @required = true })
                                @Html.ValidationMessageFor(x => x.RealName, null, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                <label>电话</label>
                                @Html.TextBoxFor(x => x.Tel, new { @class = "form-control", @placeholder = "联系电话", @required = true })
                                @Html.ValidationMessageFor(x => x.Tel, null, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                <label>电子邮件地址</label>
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email", @required = true })                      @Html.ValidationMessageFor(x => x.Email, null, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                <label>送货地址</label>
                                @Html.TextBoxFor(x => x.Address, new { @class = "form-control", @placeholder = "送货地址", @required = true })
                                @Html.ValidationMessageFor(x => x.Address, null, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                <label>邮编</label>
                              @Html.TextBoxFor(x => x.PostCode, new { @class = "form-control", @placeholder = "邮编", @required = true })
                                @Html.ValidationMessageFor(x => x.PostCode, null, new { @class = "alert-danger" })
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-success btn-block" onclick="register()" value="注 册" />
                                <a href="/Authentication/Login" class="btn btn-primary" style="float: right;margin-top: 20px;">登 陆</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery/validate")
    @Scripts.Render("~/bundles/jquery/validate/unobtrusive")
</body>
</html>
